.about-us {
  width: 100%;
  height: auto;
  @include flexPosition;
  flex-direction: column;
}

.title-wrapper {
  width: 350px;
  padding: 20px 0;

  @include responsive(md) {
    width: 320px;
  }
  @include responsive(xs) {
    max-width: 100%;
  }
}

.about-flex-wrapper {
  width: 100%;
  padding: 3rem 0;
  @include flexPosition;
  flex-wrap: wrap;
}

.about-flex-item {
  @include flexPosition;
  flex-direction: column;
  width: 300px;
}

.item-title {
  font-size: size(md);
  color: rgba(0, 0, 0, 0.8);
  padding: 0.8rem 0;
  font-weight: 400;

  @include responsive(md) {
    font-size: size(sm);
  }
}

.item-text {
  font-size: size(xs);
  font-weight: 200;

  @include responsive(md) {
    font-size: size(xs) * 0.8;
  }
}

.missions {
  width: 100%;
  margin: 4rem 0;
  height: auto;
  @include flexPosition;
  flex-direction: column;
  background-color: rgba(color(secondary), 0.1);

  @include responsive(md) {
    width: 50%;
    margin: 30px auto;
  }
  @include responsive(xs) {
    width: 80%;
    margin: 30px auto;
  }
}

.mission {
  padding: 2rem;
  span {
    font-size: size(xl) * 2;
    color: rgba(color(primary), 0.8);

    @include responsive(md) {
      font-size: size(xl);
    }
  }
}

.section-sub-title {
  font-size: size(lg);
  font-weight: 400;
}

.team {
  width: 100%;
  height: auto;
  @include flexPosition;
  flex-direction: column;
  &-member {
    margin: 20px;

    &-title {
      color: color(secondary);
      padding: 0.8rem 0 0.3rem 0;
      font-size: size(xs) * 0.8;
    }
  }
  .member-img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }
}

/* 
FAQ section
*/
.faqs {
  @include flexPosition;
  flex-direction: column;
  height: auto;
  margin: 10px 0;

  .title-wrapper {
    @include responsive(md) {
      width: 250px;
    }
    @include responsive(xs) {
      max-width: 100%;
    }
  }
}

.hr-line {
  width: 100%;
  margin: auto;
}

.faq-container {
  @include flexPosition;
  flex-direction: column;
  width: 60%;
  height: auto;

  @include responsive(md) {
    width: 100%;
  }
}

.faq-body {
  width: 50%;
}

.faq {
  width: 100%;

  &-page {
    font-size: size(md);
    padding: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    margin: 3px 0;
    position: relative;

    @include responsive(md) {
      font-size: size(xs);
    }
    @include responsive(xs) {
      font-size: size(xs) * 0.9;
    }
  }

  .arrows {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 10px;
    height: 10px;
    color: rgba(color(primary), 0.8);
    transform: translateY(-50%);

    .fa-angle-down {
      display: block;
      cursor: pointer;
      z-index: 30;
    }
    .fa-angle-up {
      display: none;
      z-index: 30;
    }
  }

  &-body {
    width: 80%;
    height: 100px;
    font-size: size(xs);
    font-weight: 200;
    color: rgba(0, 0, 0, 0.8);
    display: none;
    margin: 0 auto;
    @include responsive(xs) {
      font-size: size(xs) * 0.9;
    }
  }

  &.active &-body {
    display: block;
    @include flexPosition;
  }

  &.active .fa-angle-down {
    display: none;
  }
  &.active .fa-angle-up {
    display: block;
    cursor: pointer;
  }
}

/*
Contact section 
*/

.contact {
  width: 100%;
  height: 40vw;
  @include flexPosition;
  flex-direction: column;
  padding: 10px 0;
  margin: 1rem 0;

  @include responsive(xl) {
    height: 60vh;
  }

  @include responsive(xs) {
    height: 420px;
    margin: 1rem 0;
  }

  form {
    width: 600px;
    height: 500px;
    height: 80%;
    @include flexPosition($justCont: space-around, $alignItem: center);
    flex-direction: column;
    background-color: rgba(color(primary), 0.7);
    margin: 3rem 0;
    border-radius: 0.2rem;

    @include responsive(md) {
      width: 400px;
    }
    @include responsive(xs) {
      max-width: 100%;
      margin: 0;
      padding: 1rem;
    }

    .input-details {
      width: 70%;

      @include responsive(xs) {
        margin: 0;
      }
    }
    label {
      width: 100%;
      display: inline-block;
      font-size: size(xs);
      color: color(white);
      padding-bottom: 0.4rem;

      @include responsive(xs) {
        font-size: size(xs) * 0.8;
      }
    }
    input[type="text"],
    input[type="email"] {
      width: 100%;
      padding: 1rem;
      @include responsive(xs) {
        padding: 0.6rem;
      }
    }
    textarea {
      width: 100%;
      height: 100px;
      max-width: 100%;
      max-height: 200px;
      font-family: inherit;
      padding: 1rem;
    }
    input,
    textarea {
      outline: none;
      border: 1px solid rgba(color(secondary), 0.6);
      border-radius: 0.2rem;
      color: rgba(0, 0, 0, 0.8);
      font-family: inherit;

      &:focus {
        border: 1px solid rgba(color(primary), 0.8);
      }
      &::placeholder {
        color: rgba(color(secondary), 0.8);
      }
    }
    input:last-child {
      border: none;
    }
    input[type="submit"] {
      color: rgba(color(primary), 0.7);

      @include responsive(xs) {
        margin: 1rem 0;
      }
    }
  }
}
