.hero {
  width: 100vw;
  height: 60vh;
  position: relative;

  @include responsive(sm) {
    height: 40vh;
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
    visibility: hidden;
    @include animation(slideshow 12s linear infinite);
  }

  &-heading {
    position: absolute;
    bottom: 20%;
    right: 20rem;

    @include responsive(lg) {
      bottom: 16%;
      right: 10rem;
    }

    @include responsive(sm) {
      bottom: 8%;
      right: 1rem;
    }

    &-main {
      @include pageHeadingStyles;

      @include responsive(lg) {
        @include pageHeadingStyles($font-size: size(lg));
      }
      @include responsive(md) {
        @include pageHeadingStyles($font-size: size(md));
      }
      @include responsive(sm) {
        @include pageHeadingStyles($font-size: size(sm));
      }
    }

    &-sub {
      @include pageHeadingStyles($font-size: size(md));
      padding-bottom: 2rem;

      @include responsive(lg) {
        @include pageHeadingStyles($font-size: size(sm));
      }
      @include responsive(md) {
        @include pageHeadingStyles($font-size: size(xs));
      }
      @include responsive(sm) {
        @include pageHeadingStyles($font-size: size(xs) * 0.8);
      }
    }
  }
}

.bg-1 {
  animation-delay: 0s;
}

.bg-2 {
  animation-delay: 4s;
}

.bg-3 {
  animation-delay: 8s;
}

@keyframes slideshow {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  5% {
    visibility: visible;
    opacity: 1;
  }

  18% {
    visibility: visible;
    opacity: 1;
  }

  20% {
    visibility: visible;
    opacity: 1;
  }

  30% {
    visibility: visible;
    opacity: 1;
  }

  60% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}
