.blog-post {
  width: 90%;
  margin: 0 auto;
  height: auto;
  padding: 3rem;
  color: rgba(0, 0, 0, 0.8);
  &-title {
    font-size: size(xl);
    margin-left: 8rem;
    padding: 1rem 0;

    @include responsive(sm) {
      font-size: size(lg);
      margin-left: 4rem;
    }
    @include responsive(xs) {
      font-size: size(md);
      margin-left: 2rem;
    }
  }
  .post-date {
    font-size: size(xs);
    font-weight: 200;
    margin-left: 8rem;
    text-align: left;
    @include responsive(sm) {
      margin-left: 4rem;
    }
    @include responsive(xs) {
      margin-left: 2rem;
      font-size: size(xs) * 0.8;
    }
  }
  .container {
    margin: 3rem auto;
    height: 100%;
    @include flexPosition;
    flex-direction: column;
    width: 60%;

    @include responsive(md) {
      width: 80%;
    }
    @include responsive(xs) {
      width: 100%;
    }

    .img-wrapper {
      width: 80%;
      height: 350px;

      @include responsive(md) {
        height: 240px;
      }
      @include responsive(sm) {
        width: 90%;
        height: 180px;
      }
    }
  }
}

.post-content {
  width: 100%;
  padding: 3rem 0;
  height: auto;
  @include flexPosition;
  flex-direction: column;

  .post-title {
    font-size: size(lg);
    @include responsive(sm) {
      font-size: size(sm);
    }
    @include responsive(xs) {
      font-size: size(xs);
    }
  }
  .post-para {
    font-size: size(xs);
    padding: 2rem 1rem;
    @include responsive(xs) {
      font-size: size(xs) * 0.8;
      padding: 1rem 0.8rem;
    }
  }

  .img-wrapper {
    margin: 0 auto;
    width: 80%;
    height: 200px;
  }
}

.author {
  margin-top: 4rem;
  padding: 10px;
  width: 100%;
  height: 12vw;
  @include flexPosition;
  border-radius: 0.4rem;
  border: 1px solid rgba(color(secondary), 0.8);
  @include responsive(md) {
    height: 16vw;
    padding: 6px;
  }
  @include responsive(xs) {
    height: 16vh;
  }

  &-img-wrapper {
    width: 100px;
    height: 100px;
    img {
      border-radius: 50%;
    }

    @include responsive(md) {
      width: 70px;
      height: 70px;
    }
    @include responsive(sm) {
      width: 120px;
      height: 60px;
    }
  }
  &-text {
    padding: 0 2rem;
  }
  &-name {
    font-size: size(xs);

    @include responsive(xs) {
      font-size: size(xs) * 0.9;
    }
  }
  &-history {
    font-size: size(xs) * 0.8;
    font-weight: 300;
  }
}
