.testimonial {
  width: 210px;
  height: 160px;
  border: 2px solid rgba(color(primary), 0.8);
  border-radius: 48%;
  position: relative;

  @include responsive(lg) {
    margin: 0 5px;
  }
  @include responsive(sm) {
    width: 130px;
    height: 120px;
  }

  // Responsive
  @include responsive(xs) {
    width: 100%;
    border: none;
  }

  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 10px;
    right: 12px;
    border-top: 8px solid rgba(color(primary), 0.8);
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: rotate(-47deg);

    @include responsive(lg) {
      right: 10px;
    }
    @include responsive(xs) {
      display: none;
    }
  }

  &-wrapper {
    @include flexPosition;
    padding: 10px;
    width: 180px;
    height: 160px;
    margin: auto;
    position: relative;

    @include responsive(sm) {
      width: 120px;
      height: 110px;
    }
    @include responsive(xs) {
      width: 200px;
    }
  }

  &-icon {
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: size(xl);
    color: rgba(color(secondary), 0.8);
    @include responsive(sm) {
      top: -10px;
      font-size: size(md);
    }
    @include responsive(xs) {
      left: 8px;
      top: -20px;
      font-size: size(lg);
    }
  }

  &-text {
    font-weight: 100;
    font-size: size(xs) * 0.8;
    color: rgba(color(black), 0.8);
    @include responsive(sm) {
      font-size: size(xs) * 0.7;
    }
    @include responsive(xs) {
      font-size: size(xs);
    }
  }

  &-name {
    font-size: size(xs);
    font-weight: 400;
    text-align: right;
    color: rgba(color(black), 0.8);
    padding: 0.8rem 0 0.4rem 0;

    @include responsive(sm) {
      font-size: size(xs) * 0.8;
    }
  }
  &-rating {
    text-align: right;
    color: rgba(253, 182, 0, 0.5);
  }
}
