/*
flex layout position, text styles, centering, fullspace
navigation
footerlist
responsive
*/

// @mixin navigation {
//   &-items {
//     list-style: none;
//   }

//   &-link {
//     text-decoration: none;
//     text-transform: uppercase;
//     padding: 1rem 0;
//   }
// }

@mixin flexPosition($justCont: center, $alignItem: center) {
  display: flex;
  justify-content: $justCont;
  align-items: $alignItem;
}

@mixin linkStyles(
  $transform: uppercase,
  $color: color(black),
  $font-size: size(sm)
) {
  text-decoration: none;
  text-transform: $transform;
  color: $color;
  font-size: $font-size;
}

@mixin pageHeadingStyles($font-size: size(xl), $color: color(white)) {
  font-family: $font-bodoni;
  font-size: $font-size * 2;
  color: $color;
  font-weight: 300;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(color(secondary), 0.4);
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin responsive($breakpoint) {
  @if ($breakpoint == xl) {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if ($breakpoint == lg) {
    @media (max-width: 1000px) {
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media (max-width: 700px) {
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media (max-width: 500px) {
      @content;
    }
  }
}
